# Prerequisites
SFML/*.d

# Compiled Object files
SFML/*.slo
SFML/*.lo
SFML/*.o
SFML/*.obj

# Precompiled Headers
SFML/*.gch
SFML/*.pch

# Compiled Dynamic libraries
SFML/*.so
SFML/*.dylib
SFML/*.dll

# Fortran module files
SFML/*.mod
SFML/*.smod

# Compiled Static libraries
SFML/*.lai
SFML/*.la
SFML/*.a
SFML/*.lib

# Executables
SFML/*.exe
SFML/*.out
SFML/*.app
